In [2]:
import yfinance as yf
import datetime
import pandas as pd

In [3]:
# Getting the index data from yahoo finance

start_date = "2000-01-01"
end_date = "2024-06-01"
ticker = "^BVSP"

stock_data = yf.download(ticker, start=start_date, end=end_date, interval = '1d')
stock_data = stock_data.drop(columns=['Adj Close'])
stock_data['Volume'] = stock_data['Volume'].div(1000000)
stock_data.rename(columns = {'Volume':'Volume (in Million)'}, inplace = True)

[*********************100%%**********************]  1 of 1 completed

In [4]:
stock_data

                Open      High       Low     Close  Volume (in Million)
Date
2000-01-03   17098.0   17408.0   16719.0   16930.0               0.0000
2000-01-04   16908.0   16908.0   15851.0   15851.0               0.0000
2000-01-05   15871.0   16302.0   15350.0   16245.0               0.0000
2000-01-06   16237.0   16499.0   15977.0   16107.0               0.0000
2000-01-07   16125.0   16449.0   16125.0   16309.0               0.0000
...              ...       ...       ...       ...                  ...
2024-05-24  124731.0  125257.0  124259.0  124306.0               9.2115
2024-05-27  124297.0  124535.0  124081.0  124496.0               4.3276
2024-05-28  124498.0  125392.0  123537.0  123780.0               9.1798
2024-05-29  123780.0  123780.0  122458.0  122707.0               8.2577
2024-05-31  122704.0  122837.0  121929.0  122098.0              15.9186

[6044 rows x 5 columns]

In [5]:
stock_data.to_csv('IBOV.csv')