In [16]:
import pandas as pd

In [18]:
df1 = pd.read_csv("D:/UFG/Data collection/NIFTY 50 Historical data.csv")
df2 = pd.read_csv("D:/UFG/Data collection/NIFTY 50 Historical data (1).csv")

In [19]:
df1.columns

Index(['Date', 'Price', 'Open', 'High', 'Low', 'Vol.', 'Change %'], dtype='object')

In [20]:
df1['Date'] = pd.to_datetime(df1['Date'], dayfirst=True)
df2['Date'] = pd.to_datetime(df2['Date'], dayfirst=True)
combined_df = pd.concat([df1, df2])

In [21]:
# Dataframe manipulation
combined_df = combined_df.drop_duplicates(subset='Date')
combined_df = combined_df.sort_values(by='Date').reset_index(drop=True)
end_date = pd.to_datetime('01-06-2024', dayfirst=True)
filtered_df = combined_df[combined_df['Date'] <= end_date]
filtered_df['Vol.'] = filtered_df['Vol.'].str.replace('B', '')
filtered_df.rename(columns = {'Price':'Close', 'Vol.':'Volume (in Billion)'}, inplace = True)
filtered_df = filtered_df.drop(columns=['Change %'])
filtered_df.set_index("Date", inplace=True)
filtered_df

C:\Users\Rushi\AppData\Local\Temp\ipykernel_18932\1170213893.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['Vol.'] = filtered_df['Vol.'].str.replace('B', '')
C:\Users\Rushi\AppData\Local\Temp\ipykernel_18932\1170213893.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df.rename(columns = {'Price':'Close', 'Vol.':'Volume (in Billion)'}, inplace = True)

                Close       Open       High        Low Volume (in Billion)
Date
2000-01-03   1,592.20   1,482.15   1,592.90   1,482.15               25.36
2000-01-04   1,638.70   1,594.40   1,641.95   1,594.40               38.79
2000-01-05   1,595.80   1,634.55   1,635.50   1,555.05               62.15
2000-01-06   1,617.60   1,595.80   1,639.00   1,595.80               51.27
2000-01-07   1,613.30   1,616.60   1,628.25   1,597.20               54.32
...               ...        ...        ...        ...                 ...
2024-05-27  22,932.45  23,038.95  23,110.80  22,871.20              260.01
2024-05-28  22,888.15  22,977.15  22,998.55  22,858.50              217.89
2024-05-29  22,704.70  22,762.75  22,825.50  22,685.45              269.93
2024-05-30  22,488.65  22,617.45  22,705.75  22,417.00              373.37
2024-05-31  22,530.70  22,568.10  22,653.75  22,465.10              572.12

[6071 rows x 5 columns]

In [22]:
filtered_df.to_csv('NIFTY.csv')