In [36]:
import pandas as pd

In [37]:
df1 = pd.read_csv("D:/UFG/Data collection/NIFTY 50 Historical data.csv")
df2 = pd.read_csv("D:/UFG/Data collection/NIFTY 50 Historical data (1).csv")

In [38]:
df1.columns

Index(['Date', 'Price', 'Open', 'High', 'Low', 'Vol.', 'Change %'], dtype='object')

In [39]:
df1['Date'] = pd.to_datetime(df1['Date'], format='%d-%m-%Y')
df2['Date'] = pd.to_datetime(df2['Date'], format='%d-%m-%Y')
combined_df = pd.concat([df1, df2])

In [40]:
# Dataframe manipulation
combined_df = combined_df.drop_duplicates(subset='Date')
combined_df = combined_df.sort_values(by='Date').reset_index(drop=True)
end_date = pd.to_datetime('01-06-2024', dayfirst=True)
filtered_df = combined_df[combined_df['Date'] <= end_date]
filtered_df = filtered_df.drop(columns=['Change %'])

In [41]:
# Function to convert volumes to billions
def convert_value(value):
    if isinstance(value, str):
        value = value.replace(',', '')  # Remove commas
        if 'B' in value:
            return float(value.replace('B', ''))
        elif 'M' in value:
            return float(value.replace('M', '')) / 1000  # Convert million to billion
    return float(value)

for col in filtered_df.columns:
    if col != 'Date':
        filtered_df[col] = filtered_df[col].apply(convert_value)

filtered_df.rename(columns = {'Price':'Close', 'Vol.':'Volume (in Billion)'}, inplace = True)
filtered_df.set_index("Date", inplace=True)
filtered_df

               Close      Open      High       Low  Volume (in Billion)
Date
2000-01-03   1592.20   1482.15   1592.90   1482.15                25.36
2000-01-04   1638.70   1594.40   1641.95   1594.40                38.79
2000-01-05   1595.80   1634.55   1635.50   1555.05                62.15
2000-01-06   1617.60   1595.80   1639.00   1595.80                51.27
2000-01-07   1613.30   1616.60   1628.25   1597.20                54.32
...              ...       ...       ...       ...                  ...
2024-05-27  22932.45  23038.95  23110.80  22871.20               260.01
2024-05-28  22888.15  22977.15  22998.55  22858.50               217.89
2024-05-29  22704.70  22762.75  22825.50  22685.45               269.93
2024-05-30  22488.65  22617.45  22705.75  22417.00               373.37
2024-05-31  22530.70  22568.10  22653.75  22465.10               572.12

[6071 rows x 5 columns]

In [42]:
filtered_df.to_csv('D:/UFG/Data collection/NIFTY.csv')